*.d
*.o
*.do
*.dep
*.ddep
*.a
*.swp
*~
*.userprefs
*.pidb
bin
obj
DEADJOE
remote_control/remote_control
log_memory_allocations/liblog_memory_allocations.so
log_memory_allocations/log_memory_allocations_client

